---
name: Update
permissions: {}

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 */3 * * *'  # every 3 hours
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update_pages:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Checkout gh-pages
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          ref: gh-pages
          path: gh-pages
          persist-credentials: false  # otherwise, the token used is the GITHUB_TOKEN, instead of the personal token
          fetch-depth: 0  # otherwise, will fail to push refs to dest repo

      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.14'

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: 'latest'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .

      - name: Install npm dependencies
        run: npm install --ignore-scripts

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> "${GITHUB_OUTPUT}"

      - name: Prepare gh-pages
        run: |
          # empty contents
          rm -f -r ./gh-pages/*

          # no jekyll
          touch ./gh-pages/.nojekyll

          # copy dependencies
          cp -f ./node_modules/plotly.js/dist/plotly.min.js ./gh-pages/plotly.js

      - name: Convert notebook
        env:
          DASHBOARD_AUR_REPOS: sunshine,sunshine-bin,sunshine-git
          CODECOV_TOKEN: ${{ secrets.CODECOV_API_TOKEN }}
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
          DISCORD_INVITE: ${{ secrets.DISCORD_INVITE }}
          FACEBOOK_GROUP_ID: ${{ secrets.FACEBOOK_GROUP_ID }}
          FACEBOOK_PAGE_ID: ${{ secrets.FACEBOOK_PAGE_ID }}
          FACEBOOK_TOKEN: ${{ secrets.FACEBOOK_ACCESS_TOKEN }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GH_BOT_TOKEN || secrets.GITHUB_TOKEN }}
          PATREON_CAMPAIGN_ID: 6131567
          READTHEDOCS_TOKEN: ${{ secrets.READTHEDOCS_TOKEN }}
        run: |
          jupyter nbconvert \
            --debug \
            --config=./jupyter_nbconvert_config.py \
            --execute \
            --no-input \
            --to=html \
            --output-dir=./gh-pages \
            --output=index \
            ./notebook/dashboard.ipynb

      - name: Cat log
        run: cat ./logs/updater.log

      - name: Check notebook for tracebacks
        run: |
          cat ./gh-pages/index.html
          echo "---"
          echo "Checking for tracebacks..."
          set +e
          tracebacks=$(grep -i -E 'Traceback \(most recent call last\):' ./gh-pages/index.html)
          set -e
          if [ -n "${tracebacks}" ]; then
            echo "Tracebacks found:"
            echo "${tracebacks}"
            exit 1
          fi

      - name: Archive gh-pages
        if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
        shell: bash
        run: |
          7z \
            "-xr!*.git*" \
            a "./gh-pages.zip" "./gh-pages"

      - name: Upload Artifacts
        if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f  # v7.0.0
        with:
          name: gh-pages
          if-no-files-found: error
          path: |
            ${{ github.workspace }}/gh-pages.zip

      - name: Deploy to gh-pages
        if: >-
          (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
          github.event_name == 'schedule' ||
          github.event_name == 'workflow_dispatch'
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5  # v1.5
        with:
          github_token: ${{ secrets.GH_BOT_TOKEN }}
          author_email: ${{ secrets.GH_BOT_EMAIL }}
          author_name: ${{ vars.GH_BOT_NAME }}
          directory: gh-pages
          branch: gh-pages
          force: false
          message: automatic-update-${{ steps.date.outputs.date }}
